/* Css Header */
h1,
h2,
h3,
h4 {
    font-family: 'Encode Sans', sans-serif;
}

.myNavbar {
    background-color: #f2f0eb;
}

.myNavbar a {
    color: #000000 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

.myHeader {
    background-image: url("../img/fondoheader.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;

}

.masthead {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 8rem;
    margin-top: 8rem;

}

.masthead h1 {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    color: #fff;
}

.logo {
    width: 130px;
    height: 130px;
}

.myLogin {
    border-width: 2px;
    color: #5196a6;
    border-color: #f25041;
    font-size: 1.1rem;

}

.myRegister {
    border: none;
    color: #5196a6;
    font-size: 1.1rem;

}

.myBtNav span {
    color: #000000;
}


.btnSearch {
    background-color: hsl(191, 34%, 48%);
}

.btnLocate {
    background-color: #5196a6;

}

/* CSS Footer */


.CercappFooter {
    background-color: #f2f0eb;
}

.Experiencias {
    background-color: #91d7f2;
    padding: 2rem;
}

.listaAcerca {
    list-style: none;
}

.listaAcerca li a {
    text-decoration: none;
}

.listaAcerca li a:hover {
    color: #000000 !important;
}

.iconSocial {
    background: transparent !important;
    border: none;
    margin: auto;
    font-size: 2rem;
}

.iconSocial a {
    color: #000000;
    text-decoration: none;
}

.iconSocial a:hover {
    transform: scale(0.9);
}


/* CSS Experiencias */
.myCardEx {
    background-color: #f2955e;
}

.myCardEx small {
    color: #f2f0eb;
}

.myCardEx a {
    text-decoration: none;
    color: #000000;
}

.myCardEx-body img {
    height: 50px;
    width: 50px;
}

.fotoUsuarioEx {
    width: 60px;
    height: 60px;
    padding: 0px;
    border-radius: 10px;
}


body {
    font-family: 'Open Sans', sans-serif;
}

/* CSS Populares */

.Populares {
    background-color: #5196a6;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.myCardPop {
    background-color: #f25041;
}

.myCardPop small {
    color: #f2f0eb;
}

.myCardPop a {
    text-decoration: none;
    color: #000000;
}

.myCardPop-body img {
    
    height: 50px;
    width: 50px;
}
.myCardPop-body {
    
    color: white;
}

.fotoUsuarioPop {
    width: 60px;
    height: 60px;
    padding: 0px;
    border-radius: 10px;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.clasificacion input[type="radio"] {
    display: none;
}
  
.clasificacion label{      
    color: grey;
    font-size: 35px;    
}
.clasificacion label:hover,
  label:hover ~ label {
    color: orange;
  }

  .btn-Populares {
      background-color: #f2f0eb;
      border-width: 5px;
  }