body {
    font-family: 'Encode', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
} 

  
input[type="radio"] {
    display: none;
}
  
label {
    display: flex;    
    color: grey;
    font-size: 35px;
    align-items: center;
}
  
.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

/* .carrusel{
    height: 1000px;
    background-color: rgb(201, 202, 202);
    border: 3px black;
    margin-top: 30px;
} */
.inicio{
    height: 130px;
    padding: 3px;
}
.perfil{
    height: 110px;
    width: 110px;
}
.peq{
    font-size: 14px;
}


.carousel-inner> .carousel-item.carousel-item-next,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0); 
    -webkit-transform: translate3d(0, 100%, 0); 
    -ms-transform: translate3d(0, 100%, 0); 
    -moz-transform: translate3d(0, 100%, 0); 
    -o-transform: translate3d(0, 100%, 0);  
    top: 0;
    
}
.carousel-inner > .carousel-item.carousel-item-prev,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0); 
    -webkit-transform: translate3d(0,-100%, 0);  
    -moz-transform: translate3d(0,-100%, 0);
    -ms-transform: translate3d(0,-100%, 0); 
    -o-transform: translate3d(0,-100%, 0); 
    top: 0;
    
}
.carousel-inner > .carousel-item.next.carousel-item-left,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); 
    -webkit-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0); 
    -moz-transform:translate3d(0,0,0); 
    -o-transform:translate3d(0,0,0); 
    top:0;
    
}
.boton{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300px;
    font-size: 20px;
    color: black;
    border-radius: 15px;
    border: 3px double black;
    background-color: lightgrey;
}
